$widthCard:300px;
.header{
    width: 80%;
    padding: 4%;
    margin: 20px auto;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #eee;
}
.content{
  width: 1024px;
  padding: 4%;
  margin: 20px auto;
  &__card{
    width: 15em;
    height: 15em;
    margin: 10px;
    background: white;
    float: left;
  }
}
.card {
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
  margin:20px;
  &:hover {
    transform: scale(1.03);
  }
  &_normal{
    width: $widthCard;
    background-image: url('http://placekitten.com/320/300')
  }
  &_double{
    width: $widthCard*2+40;
    background-image: url('http://placekitten.com/680/300') 
  }
  &__link{
    text-decoration: none;
    cursor: pointer;
  }
  &__link_cl-main{
    color:#fff;
  }
  &__title{
    font-size: 24px;
    padding: 10px;
      color:#fff;
    background-color:rgba(0,0,0,0.3);
  }
  &__text{
    padding: 10px;
    background-color:rgba(0,0,0,0.4);
  }
}

@media screen and (max-width: 1024px) {
  .content{
    width: 768px;
  }
}
@media screen and (max-width: 480px) {
  .content{
    width: 480px;
  }
  .card_double{
    width: $widthCard;
    background-image: url('http://placekitten.com/300/300');
    background-position: center;
  }
}
