<template>
  <div id="detail" v-if="tile[0]">
    <router-link :to="`/`" >Назад</router-link>
    <h1>
      {{tile[0].title}} #{{tile[0].id}} 
    </h1>
    <p>
      {{tile[0].text}}
    </p>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Detail',
  data: function () {
    return {
      msg: 'detail',
    }
  },
  computed:{
    tile() {
      const id = Number(this.$route.params.id)
      return this.$store.getters.getById(id)
    } 
  },
  mounted: function () {
    this.$store.dispatch('getTiles')
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
  @import '../styles/detail.scss';
</style>
