<template>
  <div id="main">
    <div class="header">
      <h1>{{ title }}</h1>
    </div>
    <div class="content">
      <div class="content__card card" v-bind:class="`card_${item.type}`" v-for="item in tiles" :key="item.id">
        <router-link class="card__link card__link_cl-main" :to="`/detail/${item.id}`" >
          <h1 class="card__title card__title_image">{{ item.title }}</h1>
          <p class="card__text">
            {{ item.description }}
          </p>
        </router-link>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
</template>

<script>

export default {
  name: 'main',
  data: function () {
    return {
      title: 'Главная',
    }
  },
  computed:{
    tiles() {
      return this.$store.getters.results
    }
  },
  mounted: function () {
    this.$store.dispatch('getTiles')
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
  @import '../styles/main.scss';
</style>
