<template>
  <div id="main">
   {{title}}
  </div>
</template>

<script>

export default {
  name: 'Page404',
  data: function () {
    return {
      title: '404',
    }
  },
  mounted: function () {

  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
