@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');
// $main-bg-color: #919890;
$color:red;
.app-layout {
    color: $color;
    margin: 0;
    font-family: 'Fira Sans', serif;
}

